body{
    height:1500px
}

.container-fluid{
    background-color: #6a207f;
    text-align: center;
    color: white;
    height: 10em;
}

.container-fluid h1{
    color: white;
    padding-top: 15px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-fluid p{
    color: white;
    font-size: 30px;
    padding-bottom: 50em;
}

.navbar-nav a{
    color: white;
    font-size: 20px;
}

.navbar-nav a:hover{
color: white;
padding-top: 10px;
padding-bottom: 10px; 
}

.banner{
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35rem;
    border: 10px;
}

.banner h1{
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .dogshowcase img{
    display: inline;

}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  /* To be used later 
  .circle {
    display: inline;
    background: black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0;
  }
*/

.col-md-9{
    background-color: #6a207f;
    color: white;
    font-size: 30px;
}

.col-md-9 h2{
    font-size: 35px;
}

.col-md-9 .thumbnail{
    float: right;
}


